<ion-view>
  <ion-content class="checkout-content">
    <h1>Check Out</h1>
    <div class="list padding deal-list">
        <div class="item item-thumbnail-left" ng-repeat="deal in deals" ng-show="visible(deal)">
          <img ng-src="{{deal.image}}" ng-click="lightbox(deal.image)">
          <h2>{{deal.name}}</h2>
          <div class="row">
            <div class="col col-33">
              ${{deal.price}}
            </div>
            <div class="col col-33">
              {{deal.qty}} pcs
            </div>
            <div class="col col-33">
              ${{deal.qty * deal.price}}
            </div>
          </div>
        </div>
    </div>

    <vi-summary></vi-summary>

    <div class="list list-inset">
      <label class="item item-input">
        <textarea ng-model="userForm.address" id="address" placeholder="Address"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" ng-model="userForm.name" id="name" placeholder="Name">
      </label>
      <label class="item item-input">
        <input type="number" ng-model="userForm.phone" id="phone" placeholder="Phone No.">
      </label>
    </div>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-balanced">
  <div class="title" ng-click="confirm()">Confirm</div>
</div>

