<ion-view>
  <ion-content class="checkout-content">
    <h1>Your Order</h1>
    <div class="grey-content">
      <table>
        <thead>
          <tr class="row">
            <th class="col col-50">Product</th>
            <th class="col col-25">Qty (pcs)</th>
            <th class="col col-25">Total $</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row" ng-repeat="deal in deals">
            <td class="col col-50">{{deal.name}}</td>
            <td class="col col-25">{{deal.qty}}</td>
            <td class="col col-25">{{deal.qty * deal.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <vi-summary></vi-summary>

    <div class="list list-inset">
      <label class="item item-input">
        <textarea ng-model="userForm.address" id="address" placeholder="Address"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" ng-model="userForm.name" id="name" placeholder="Name">
      </label>
      <label class="item item-input">
        <input type="number" ng-model="userForm.phone" id="phone" placeholder="Phone No.">
      </label>
    </div>

    <button class="button button-positive vi-confirm-btn" ng-click="confirm()">
      Confirm
    </button>
  </ion-content>
</ion-view>

