<ion-view>
  <ion-content>
  <div class="button-bar">
    <a class="button" ng-click="show('pizzaSet')" ng-class="{'active': active('pizzaSet')}">Set</a>
    <a class="button" ng-click="show('pizza')" ng-class="{'active': active('pizza')}">Pizza</a>
    <a class="button" ng-click="show('mainDish')" ng-class="{'active': active('mainDish')}">Main Dish</a>
    <a class="button" ng-click="show('sideDish')" ng-class="{'active': active('sideDish')}">Side Dish</a>
    <a class="button" ng-click="show('drinks')" ng-class="{'active': active('drinks')}">Drinks</a>
</div>
    <div class="list padding">

        <div class="item item-thumbnail-left" ng-repeat="deal in deals">
          <img ng-src="{{deal.image}}" ng-click="lightbox(deal.image)">
          <h2>{{deal.name}}</h2>
          <div class="row">
            <div class="col col-50">
              <h1>${{deal.price}}</h1>
            </div>
            <div class="col col-50">
              <div class="vi-qty">
                  <label>
                    <select>
                        <option ng-repeat="i in qtyCounter(21) track by $index">{{$index}}</option>
                    </select>
                    <span>pcs</span>
                  </label>
              </div>
            </div>
          </div>
        </div>
    </div>
    <br/>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-balanced">
  <div class="button-bar">
    <a class="button button-balanced" href="#/app/shoppingCart">Shopping Cart</a>
    <a class="button button-balanced">Checkout</a>
  </div>
</div>

