<ion-view>
  <div class="button-bar vi-menu row">
      <a class="button col col-15" ng-click="show('pizzaSet')" ng-class="{'active': active('pizzaSet')}"><span>Set</span></a>
      <a class="button col col-15" ng-click="show('pizza')" ng-class="{'active': active('pizza')}"><span>Pizza</span></a>
      <a class="button col col-27" ng-click="show('mainDish')" ng-class="{'active': active('mainDish')}"><span>Main Dish</span> </a>
      <a class="button col col-27" ng-click="show('sideDish')" ng-class="{'active': active('sideDish')}"><span>Side Dish</span></a>
      <a class="button col col-15" ng-click="show('drinks')" ng-class="{'active': active('drinks')}"><span>Drinks</span></a>
  </div>
  <ion-content>
    <div class="grey-content">
      <h1>Shopping Cart</h1>
      <table>
        <thead>
          <tr class="row">
            <th class="col col-50">NAme</th>
            <th class="col col-25">Price</th>
            <th class="col col-25">Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row" ng-repeat="deal in deals" ng-show="visible(deal)">
            <td class="col col-50">{{deal.name}}</td>
            <td class="col col-25">${{deal.price}}</td>
            <td class="col col-25"><vi-qty/></td>
          </tr>
        </tbody>
      </table>
    </div>

    <button class="button button-positive vi-confirm-btn" ng-click="confirm()">
      Confirm
    </button>

  </ion-content>
</ion-view>

