<ion-view>
  <div class="button-bar vi-menu row">
      <a class="button col col-15" ng-click="show('pizzaSet')" ng-class="{'active': active('pizzaSet')}"><span>Set</span></a>
      <a class="button col col-15" ng-click="show('pizza')" ng-class="{'active': active('pizza')}"><span>Pizza</span></a>
      <a class="button col col-27" ng-click="show('mainDish')" ng-class="{'active': active('mainDish')}"><span>Main Dish</span> </a>
      <a class="button col col-27" ng-click="show('sideDish')" ng-class="{'active': active('sideDish')}"><span>Side Dish</span></a>
      <a class="button col col-15" ng-click="show('drinks')" ng-class="{'active': active('drinks')}"><span>Drinks</span></a>
  </div>
  <ion-content>
  
    <div class="list padding deal-list">
        <div class="item item-thumbnail-left" ng-repeat="deal in deals" ng-show="visible(deal)">
        <img ng-src="{{deal.image}}" vi-light-box ng-click="showLightBox()"/>
          <h2>{{deal.name}}</h2>
          <div class="row">
            <div class="col col-50">
              <h1>${{deal.price}}</h1>
            </div>
            <div class="col col-50">
              <vi-qty/>
            </div>
          </div>
          <vi-more-info></vi-more-info>
        </div>
    </div>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-balanced">
  <div class="button-bar">
    <a class="button button-balanced" ng-click="shoppingCart()">Shopping Cart</a>
    <a class="button button-balanced" ng-click="checkout()">Check Out</a>
  </div>
</div>

