<ion-view>
  <ion-content class="padding shopping-cart-content">
  	<div class="grey-content">
  		<h1>Shopping Cart</h1>
  		<table>
  			<thead>
  				<tr class="row">
	  				<th class="col col-50">Product</th>
	  				<th class="col col-25">Qty (pcs)</th>
	  				<th class="col col-25">Total $</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr class="row" ng-repeat="deal in deals">
  					<td class="col col-50">{{deal.name}}</td>
  					<td class="col col-25"><vi-qty/></td>
  					<td class="col col-25">{{deal.qty * deal.price}}</td>
  				</tr>
  			</tbody>
  		</table>
  	</div>
  	<vi-summary></vi-summary>
  </ion-content>
</ion-view>

<div class="bar bar-footer">
  <div class="title" ng-click="checkout()">Checkout</div>
</div>
