<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Set" href="#/app/pizzaSet">
    <ion-nav-view name="pizzaSetContent"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Pizza" href="#/app/pizza">
    <ion-nav-view name="pizzaContent"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Main-Dish" href="#/app/mainDish">
    <ion-nav-view name="mainDishContent"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Side-Dish" href="#/app/sideDish">
    <ion-nav-view name="sideDishContent"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Drinks" href="#/app/drinks">
    <ion-nav-view name="drinksContent"></ion-nav-view>
  </ion-tab>
</ion-tabs>
